*.iml
.gradle
/local.properties
.DS_Store
.idea/compiler.xml
.idea/gradle.xml
AGENT.md
AGENTS.md
app/build
app/prod
/.kotlin/
/.idea/

build/
/captures
.externalNativeBuild
.cxx
local.properties
.history
.mylibray
